<!DOCTYPE html>

<html>
    <head>
        <title>Weather App</title>
        <link rel="icon" href="/img/logo.png">
        <link rel= "stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Intan Puspitasari using MapBox and WeatherStack API.</p>
            <img class="portrait" src="/img/me.png">
        </div>
        {{>footer}}
    </body>
</html>